.SeperatorWrapper{
    width: 100%;
    height: 8rem;
    /* overflow: hidden; */
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four equal columns */
    gap: 3rem; /* Gap between grid items */
}
@media (max-width: 768px) {
    .SeperatorWrapper{
        grid-template-columns: repeat(2, 1fr); /* Four equal columns */
        grid: column;
        height: 16rem;
    }
    .Seperator{
        flex-direction: column;
    }
}
@media (max-width: 480px) {
    .SeperatorWrapper{
        grid-template-columns: repeat(1, 1fr); /* Four equal columns */
        grid: column;
        height: 32rem;
    }
}
.Seperator{
    display: flex;
    /* flex-direction: row; */
    align-items: center;
}
  
  
  
  
  
  
  